/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
h2{
    margin-top: 1rem; /* Marge bovenaan toevoegen */
    margin-left: 20rem; /* Marge aan de linkerkant toevoegen */
}




#note-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.note-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#note-list li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#note-form {
    margin-top: 20px;
    padding: 20px; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    
}

#note-form input,
#note-form textarea {
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 3px; 
}

#note-form div {
    text-align: right;
}

#note-form button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #333; 
    color: #fff; 
    border: none; 
    border-radius: 3px;
}

